*{
  margin: 0;
  padding: 0;
  
}

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');


/* Padding X-axis */

.px-100{
  padding-left: 100px;
  padding-right: 100px;
}

.px-300{
  padding-left: 300px;
  padding-right: 300px;
}

/* Padding Y-axis */

.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-12{
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-10{
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Padding X-Y-Axis */
.pxy-12-6{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.pxy-16-10{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pxy-15-12{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pxy-25-15{
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.pxy-18-57{
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 18px;
  padding-bottom: 18px;
}


.pxy-18-110{
  padding-left: 111px;
  padding-right: 111px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.pxy-32-12{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pxy-100{
  padding-left: 100px !important;
  padding-right: 100px!important;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-spacing{
  padding: 53px 89px 32px 89px;
}

.modal-padding{
 padding: 51px 29px;
}
/* Padding Left */

.pl-100{
  padding-left: 100px;
}
.pl-80-imp{
  padding-left: 80px !important;
}
.pl-100-imp{
  padding-left: 100px !important;
}

.pl-18{
  padding-left: 18px;
}


/* Padding  Bottom*/

.pb-100{
  padding-bottom: 100px;
}

.pb-24{
  padding-bottom: 24px;
}

/* Padding right */

.pr-0-imp{
 padding-right: 0 !important;
}

/* Margin X-axis */


/* Margin Y-axis */


/* Margin  X Y axis*/

.mxy-100{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Margin-button */

.mb-0{
  margin-bottom: 0;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-60{
  margin-bottom: 60px;
}

.mb-80{
  margin-bottom: 80px;
}
.mb-123{
  margin-bottom: 123px;
}

/* Margin right */

.mr-6{
  margin-right: 6px;
}
.mr-8{
  margin-right: 8px;
}
.mr-16{
  margin-right: 16px;
}



.mr-20{
  margin-right: 20px;
}


/* Margin left */
.ml-12{
  margin-left: 12px;
}

/* Margin-top */


.mt-20{
  margin-top: 20px;
}
.mt-28{
 margin-top: 28px;
}

.mt-40{
  margin-top: 40px;
}

/* Backgound Color */

.bg-3980F3{
  background-color: #3980F3;
}

.bg-FFFFFF{
  background-color: #FFFFFF;
}
.bg-000000{
  background-color: #000000;
}

.bg-F5F9FD {
  background-color: #F5F9FD;
}

.bg-04448E{
  background-color: #04448E;
}
.bg-gradient-modal{
  background: linear-gradient(180deg, #4AA0F3 0%, #377CF3 100%);
}

/* Font Styles */
.font-lora{
  font-family: 'Lora', serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.font-sora{
  font-family: 'Sora', sans-serif;
}

/* Font Weight */

.font-600{
  font-weight: 600;
}

.font-500{
  font-weight: 500;
}

.font-400{
  font-weight: 400;
}


/* Font Size */

.text-14{
  font-size: 14px;
}
.text-16{
  font-size: 16px;
}
.text-24{
  font-size: 24px;
}

.text-34{
  font-size: 34px;
}

.text-50{
  font-size: 50px;
}
/* Font text Color */

.text-FFFFFF{
  color: #FFFFFF;
}

.text-F7F7F7{
  color: #F7F7F7;
}

.text-3980F3{
  color: #3980F3;
}

.text-7B7B7B{
  color: #7B7B7B;
}
.text-4B5162{
  color: #4B5162;
}

.text-C8D8FF{
  color: #C8D8FF;
}

.text-0378A6{
  color: #0378A6;
}
/* Border */

.border-none{
  border: none;
}
.border-D7D7D7{
  border: 1px solid #D7D7D7;
}
.border-e5e5e5c5{
  border: 1px solid #e5e5e5c5;
}

.border-D2D5E2{
  border: 0.4px solid #D2D5E2;
}
/*border radius*/

.border-radius-6{
  border-radius: 6px;
}
.border-radius-8{
  border-radius: 8px;
}
.border-radius-10{
  border-radius: 10px;
}
.border-radius-20{
  border-radius: 20px;
}

/* position */

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

/* Display  */

.display-none{
  display: none;
}
.display-block{
  display: block;
}
.display-flex{
  display: flex;
}
/* Width */

.full-width{
  width: 100%;
}

/* coursor */

.pointer{
  cursor: pointer;
}

.box-shadow-accessEd{
  box-shadow: 0px 0px 1px 0px rgba(48, 66, 120, 0.06), 0px 2px 6px 0px rgba(48, 66, 120, 0.06), 0px 10px 20px 0px rgba(48, 64, 120, 0.06);;

}


.timer-shadow{
  box-shadow: 0px 4px 8.6px 0px rgba(0, 0, 0, 0.06), 1px 1px 21.2px 0px rgba(195, 214, 241, 0.55) inset;
}

.about-image-width{
  width: 604px;
height: 381px;
padding: 48px 54px;
background: linear-gradient(191deg, #4AA0F3 8.04%, #377CF3 91.96%);

}

.vertical-separater{
  height: 300px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.03);
}

.custom-email-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border:none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #333333;
  outline: none;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.custom-email-input::placeholder {
  color: #999999;
  
}

.required::placeholder::after {
  content: '*';
  color: #FF0000;
}
.custom-email-input:focus {
  border-color: #3980F3;
  box-shadow: 0 0 0 2px rgba(57, 128, 243, 0.2);
}

/* Add an envelope icon */
.custom-email-input {
  background-image: url('/SubscribeEmailIcon.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px;
  padding-left: 45px;
}

.btn-hover:hover{
  background: linear-gradient(180deg, #4AA0F3 0%, #377CF3 100%);
}



/* Pop Up modal */


@media (max-width: 1600px) {
  .px-300{
    padding-left: 100px;
    padding-right: 100px;
  }
}